
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.grid-container.show {
    opacity: 1;
}

.grid-item {
    background-color: rgba(241, 241, 241, 0);
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-item img{
    height: 4vh;
    width: 4vw;
}
