.index-grid{
    color: white;
    background: rgb(34, 35, 45);
    font-size: 0.9rem;
    display: grid;
    grid-template-rows: 65% 2% 6% 6% 6% 6% 6%;
    grid-template-columns: 50% 20% 30%;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-top: 2vh;
    height: 600px;
}

.selected-index{
    background-color: rgba(61, 62, 72);
    font-weight: bold;
}


.index-table-element{
    padding-left: 10%;
    padding-right: 10%;
}

.index-table-element:hover{
    transition: all 0.3s ease;
    background: rgba(145, 145, 145, 0.5);
    border-radius: 5px;
}

.index-grid > div:nth-child(1){
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    height: 100%;
}

.index-grid > div:nth-child(n + 2){
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.index-grid > div:nth-child(n + 2) > div:nth-child(n + 2){
    display: flex;
    justify-content: center;
}

.index-grid > div:nth-child(3){
    grid-column: 1 / span 3;
    grid-row: 3 / 3;
}

.index-grid > div:nth-child(4){
    grid-column: 1 / span 3;
    grid-row: 4 / 4;

}
.index-grid > div:nth-child(5){
    grid-column: 1 / span 3;
    grid-row: 5 / 5;

}
.index-grid > div:nth-child(6){
     grid-column: 1 / span 3;
     grid-row: 6 / 6;
 }
.index-grid > div:nth-child(7){
    grid-column: 1 / span 3;
    grid-row: 7 / 7;
}

