.dash-news-container{
    background-image: url("../../img/seatle.jpg");
    background-size: cover;
    display: grid;
    grid-template-columns: 55% 40%;
    justify-content: center;
    align-items: start;
    column-gap: 2.5%;
}
