
.market-status {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 10px;
}

.open {
    border-top: darkblue 5px solid;
}

.closed {
    border-top: #b21d2b 5px solid;
}

.market-logo{
    object-fit: fill;
    width: 100px;
    height: 40px;
}
.image-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.market-status-container{
    height: 60px;
    background-color: white;
    color: rgb(38,38,38);
    display: grid;
    grid-template-rows: 40% 1% 40%;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.market-status-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}


